<a href="/asset/{{_id}}/{{numberId}}">
        <img src="{{imageUrl}}" alt="Nft Image">
        <h3>{{nftName}} #{{numberId}}</h3>
        {{#if forSale}}
        <h4>{{price}} ETH</h4>
        {{else}}

        {{/if}}
</a>