<img src="https://storage.googleapis.com/opensea-static/opensea-profile/27.png" alt="Profile Picture">
<h2>{{user.username}}</h2>

<a href="/users/{{user._id}}/{{user.username}}/collections"><h3>Collections Created:</h3></a>

<div class="collectionSection">
    {{#each user.collections}}
        {{> collectionRow}}
    {{/each}}
</div>

<a href="/users/{{user._id}}/{{user.username}}/nfts"><h3>NFTs Owned:</h3></a>
<div class="nftSection">
    {{#each user.itemsOwned}}
        {{> nftCard}}
    {{/each}}
</div>