<div class="collectionDetailsHeader">
    <div class="collectionBackground">
        <img src="{{foundCollection.backgroundHeader}}" alt="Header">
    </div>
    <div class="logoAndCollectionDetails">
        <img src="{{foundCollection.logoUrl}}" alt="Nft Logo">
        <div class="collectionParams">
            <h2>{{foundCollection.collectionName}}</h2>
            <h4>Created by: <a href="/users/{{foundCollection.owner._id}}/{{foundCollection.owner.username}}">{{foundCollection.owner.username}}</a></h4>
            <h4>Size: <span class="makePurp">{{foundCollection.size}}</span></h4>
            <h4>Blockchain: <span class="makePurp">{{foundCollection.blockchain}}</span></h4>
            <p>{{foundCollection.description}}</p>
        </div>
    </div>
</div>





{{#if isCollectionOwner}}
    <div class="ownerButtons">
        <a href="/collection/{{foundCollection._id}}/add-nft">Add NFT</a>
        <a href="/collection/{{foundCollection._id}}/edit-details">Edit Details</a>
        <a href="/collection/{{foundCollection._id}}/delete-collection">Delete Collection</a>
    </div>

    <div class="nftSection">
        {{#each foundCollection.items}}
            {{> nftCard}}
            <a href="/asset/{{_id}}/{{numberId}}/remove" class="removeBtn">Remove</a>
        {{/each}}
    </div>

{{else}}

    <div class="nftSection">
        {{#each foundCollection.items}}
            {{> nftCard}}
        {{/each}}
    </div>


{{/if}}

{{!-- {{#if errorMessage}}
    <p>{{errorMessage}}</p>
{{/if}} --}}