<h2>Edit Collection Details:</h2>


<form action="/collection/{{foundCollection._id}}/edit-details" method="post">

    <label for="">Name:</label>
    <input type="text" name="collectionName" value="{{foundCollection.collectionName}}">

    <label for="">Description:</label>
    <input type="text" name="description" value="{{foundCollection.description}}">

    <label for="">Logo:</label>
    <input type="text" name="logoUrl" value="{{foundCollection.logoUrl}}">

    <label for="">Background Header:</label>
    <input type="text" name="backgroundHeader" value="{{foundCollection.backgroundHeader}}">

    <button type="submit">Save</button>

</form>