<img src="{{foundNft.imageUrl}}" alt="Nft Image">
<a href="/collection/{{foundNft.fromCollection._id}}">{{foundNft.fromCollection.collectionName}}</a>
<h2>{{foundNft.nftName}} #{{foundNft.numberId}}</h2>
<p>Owned by: <a href="/users/{{foundNft.owner._id}}/{{foundNft.owner.username}}">{{foundNft.owner.username}}</a></p>
<p>Price: {{foundNft.price}} ETH</p>
<button>Buy</button>
<button>Sell</button>
<h4>Description:</h4>
<p>By <a href="/collection/{{foundNft.fromCollection._id}}">{{foundNft.fromCollection.collectionName}}</a></p>
<p>{{foundNft.fromCollection.description}}</p>
